<!DOCTYPE html>
<html lang="en">

  {% include "layouts/header.html" %}

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><span>Employee Information System</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            {% include "layouts/profile.html" %}
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            
            <!-- /sidebar menu -->

            {% include "layouts/leftbar.html" %}

            <!-- /menu footer buttons -->
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <!-- /top navigation -->
        {% include "layouts/rightbar.html" %}

        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          {% block content %}
           {% endblock %}
          </div>

        <!-- /page content -->

        <!-- footer content -->
        {% include "layouts/footer.html" %}
        <!-- /footer content -->
      </div>
    </div>

    {% include "layouts/js.html" %}

    {% block inline_js %}
    {% endblock %}
    
  </body>
</html>
